[run]
result_folder_name = brunel_si
workload_name = brunel_si
max_timestep = 1971

# brunel_si workload has total 4100 neurons (4000 + 100 poisson)
# example1(2080) 로 되돌리려면: result_folder_name/workload_name=example1, max_timestep=1971, sync_period=[256]

[simulation_parameter]
chip_xy = [(2,2)]
max_core_xy_in_chip = [(4,4)]
max_syn_delay = [40]
sync_period = [256]
accum_width = [2]
pretrace_engine = [10]
setup_timestep = 50     #warmup before speculation: neuron network yet to be stabilized, rollback might explode

[mapping_parameter]
ufactor = 2

[path]
simulator_path = /home/heechan/26_GRADPROJ/NeuroSync_GradProj/
mapper_path = /home/heechan/26_GRADPROJ/NeuroSync_GradProj/mapping/
workload_path = /home/heechan/26_GRADPROJ/NeuroSync_GradProj/benchmark/
runspace_path = /home/heechan/26_GRADPROJ/NeuroSync_GradProj/runspace/
